<div class="row">
<div class="row">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>DNA Program</h2>
                <p class="lead"></p>
            </div>
        </div><!-- /.container -->
    </div><!-- /.row -->
    <div class="row">
        <div class="container">
            <div class="col-md-4 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="feature-wrap">
                    <a scroll-to="#device" href="javascript:"><i class="icon-mobile"></i></a>
                    <h2>Laboratorium Mobility</h2>
                    <h3>Reparasi Hand Phone, ROM Flash, Application Injection. (SMK TIK yang memiliki RPL yang diutamakan)</h3>
                </div>
            </div><!--/.col-md-4-->

            <div class="col-md-4 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="feature-wrap">
                    <a scroll-to="#network" href="javascript:"><i class="icon-connection"></i></a>
                    <h2>Access Internet (Special Program)</h2>
                    <h3>Program Digital Divide dan Akses Informasi, Program dengan Pihak Lain*, Kemudahan kepemilikan perangkat untuk Siswa / Lembaga Pendidikan, Smartphone dan Tablet Harga Khusus untuk Edukasi.</h3>
                </div>
            </div><!--/.col-md-4-->

            <div class="col-md-4 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="feature-wrap">
                    <a scroll-to="#application" href="javascript:"><i class="icon-cart2"></i></a>
                    <h2>Agent / Reseller Program</h2>
                    <h3>Bekerja sama dengan (MD) Master Dealer untuk menjual perangkat keras, Insentif Principle, Kegiatan Marketing*, Leasing Program, Penjualan ke Umum. (* SMK Penjualan atau Bisnis Management).</h3>
                </div>
            </div><!--/.col-md-4-->


        </div><!-- /.container --> 
        <div class="container">
            <div class="col-md-4 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="feature-wrap">
                    <a scroll-to="#device" href="javascript:"><i class="icon-mobile2    "></i></a>
                    <h2>Magang Product Assembly (Manufacturing)</h2>
                    <h3>Produksi Hand Phone di Pabrik Evercoss Semarang.</h3>
                </div>
            </div><!--/.col-md-4-->

            <div class="col-md-4 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="feature-wrap">
                    <a scroll-to="#network" href="javascript:"><i class="icon-cogs"></i></a>
                    <h2>Magang Operasional</h2>
                    <h3>Magang Operasional.</h3>
                </div>
            </div><!--/.col-md-4-->

            <div class="col-md-4 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="feature-wrap">
                    <a scroll-to="#application" href="javascript:"><i class="icon-hammer"></i></a>
                    <h2>Product Development (Application / Software)</h2>
                    <h3>Pengembangan Aplikasi, Ecosystem Aplikasi dengan DNA (Evercoss dan Meruvian), Validasi dan Verifikasi (Bundle), Resell. <p>(* SMK TIK - RPL - MM)</h3>
                </div>
            </div><!--/.col-md-4-->


        </div><!-- /.container --> 
        <div class="container">
            <div class="col-md-4 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="feature-wrap">
                    <a scroll-to="#device" href="javascript:"><i class="icon-cog"></i></a>
                    <h2>Application Implementation</h2>
                    <h3>Mengimplementasikan Aplikasi sesuai Industrynya. (Retail, Distributorshop, Food dan Beverage, Healthcare)</h3>
                </div>
            </div><!--/.col-md-4-->

            <div class="col-md-4 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="feature-wrap">
                    <a scroll-to="#network" href="javascript:"><i class="icon-user4"></i></a>
                    <h2>Solution Consultant</h2>
                    <h3>Memberikan solusi berbasis mobility kepada pihak lain. (Mobile Sales Force, Canvasing, Interactive Order)</h3>
                </div>
            </div><!--/.col-md-4-->

            <div class="col-md-4 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="feature-wrap">
                    <a scroll-to="#application" href="javascript:"><i class="icon-football78"></i></a>
                    <h2>Challenge & Competition</h2>
                    <h3>Kegiatan Kompetisi. <p>(Tugas, Kecepatan / Hackathon, Kasus)</h3>
                </div>
            </div><!--/.col-md-4-->


        </div><!-- /.container --> 
        <div class="container">
            <!-- <div class="pull-right">
                <a href="#/"><b>Informasi Lebih Lanjut >> </b></a>
            </div>  -->
        </div><!-- /.container -->
</div><!--/.row-->      